/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
@layer base {
  body {
    font-family: 'Poppins', sans-serif;    color: #3D3D3D;
    background-color: #F8F1E9;
    min-height: 100vh;
  }
}
